@charset "UTF-8";

html, body {

    margin: 0;

    height:100%;

    

}
.categorysidebar{
	width: 250px;
	padding-top: 160px;
	margin-top:0px;
	margin-right:15px;
	
	background: white;
	position: fixed;
	overflow-y:auto;
	top: 0px;
	left: 0px;
	height: 100vh;
	border-right: 0.3px solid gray;
	z-index: 1;
	float: left;
	
}
.categorysidebar::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 1000px) {
.categorysidebar {
	display: none;

}


/* ul.mylist, ol.mylist {
	
    list-style: none;
    margin: 0px;
    padding: 0px;
  	float:right;
    max-width: 900px;
    width: 100%;
}
  
ul.mylist li, ol.mylist li {
    display: inline-block;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #efefef;
    font-size: 12px;
    cursor: pointer;
    float:right;
} */


