@charset "UTF-8";
#primary_nav_wrap
{
	margin-top:20px;
	margin-left:0px;
	width:100%;
  justify-content: center;
  align-items: center;
  z-index: -1;
  background-color:#55A44E;
 
  
}
.modal-backdrop{
	z-index: 1;
	
}
#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
	z-index: -1;
	width:100%;
	background-color:#f6f6f6;
	
	
}

 #primary_nav_wrap ul a
{
	font-family: 'Noto Sans KR', sans-serif;
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:20px;

	line-height:40px;
	padding:0 15px;
	/* font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif */
}

#primary_nav_wrap ul li
{
	
	position:relative;
	float:left;
	margin:0;
	padding:0;
	background-color:#f6f6f6;
	border-bottom: 0.3px solid #DBDBDB;
	font-size: 30px;
}

#primary_nav_wrap ul li.current-menu-item
{
	background-color:#ddd
	
}

#primary_nav_wrap ul li:hover
{
	background:#dbdbdb
	
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

.count6:hover .seubdeep{
	display:block;
}

.subdeep a{
	
color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
}
#primary_nav_wrap ul ul li
{
	float:top;
	
	width:200px;
}

#primary_nav_wrap ul ul a
{
	position:relative;
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	position:absolute;
	top:0%;
	left:100%;
	height: 36px;
}



#primary_nav_wrap ul li:hover > ul
{
	display:block
}
.subdeep{
	position: absolute;
	left : 0px;
}
 */