@charset "UTF-8";


.header {
	/*헤더 고정*/
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: auto;
	margin-bottom: 30px;
	width: 100%;
	background-color:#55A44E;
	z-index: 3;
}

.header__wrapper {
	/*고정된 높이*/
	
	/*좌우정렬 flex*/
	display: flex;
	flex-direction: row;
	/*세로축 모든 아이템 센터 정렬*/
	align-items: center;
	/*가로축 아이템 정렬: 양 끝으로 펼치기*/
	justify-content: space-between;
	padding: 0px 16px;
	background-color:#55A44E;
	height: 90%;
	
}

.header__start {
	height: 100%;
	margin-left: 10px;
	align-items: center;
}

.header__menu {
	border: none;
	background-color: transparent;
	font-size: 1.5rem;
}

.header__logo {
	margin-left: 20px;
	width: 25px;
	height: 25px;
}

.header__title {
	font-size: 3rem;
	margin-left: 6px;
	margin-right: 15px;
}

.header__center {
	/*검색창 너비가 헤더 너비의 50%로 따라가도록 작성*/
	width: 50%;
}

.header__searchForm {
	max-width: 100%;
}

.header__input--text {
	/*버튼 크기 제외한 나머지 전체 너비 차지하도록*/
	width: calc(90% - 60px);
	/*예쁘게 꾸미기*/
	height: 40px;
	padding: 0 6px;
	border: 1px solid #8f8f8f;
	border-radius: 2px 0 0 2px;
}

.header__input--btn {
	width: 60px;
	height: 40px;
	border: 1px solid #8f8f8f;
	border-radius: 0 0px 0px 0;
}

.header__search {
	border: none;
	background-color: transparent;
	font-size: 1.5rem;
	display: none;
	margin-right: 5px;
}

.header__profile {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: rgb(158, 221, 255);
	/* 이미지 불러오기 */
	background-image: url(../imgs/profile.png);
	background-size: 40px 40px;
}

#dropdown {
	margin-right: 30px;
}

#iconemenu {
	display: none;
	
	position: absolute;
}
.navbarimage{
	width: 200px;
	height: 90px;
	
	
}

#iconemenu+label {
	display: none;
	position: absolute;
	font-size: 24px;
	color: black;
	margin-left:20px;
}

#iconsearch {
	display: none;	
	position: absolute;
	right: 10px;
	font-size: 15px;
	color: black;
}

.btn:active, .btn:focus { border: none !important; box-shadow: none !important; }

.closedsidebar {
	width: 250px;
	height: 100%;
	background: white;
	position: fixed;
	top: 0px;
	left: -300px;
	border: 0.3px solid gray;
	transition: all .35s;
}

#iconemenu:checked+label+.closedsidebar {
   left: 0px;
}



.menu__item {
	margin: 40px 0px 0px 0px;
}

.ulstyle {
	list-style-type: "-";
}

.linkcolor {
	color: black;
	text-decoration: none;
}

.listyle {
	margin: 10px 5px;
}



@media screen and (min-width: 900px) {
.closedsidebar {
	display: none;
}
	
	}
/*900px 정도로 화면 줄어들면 로고 타이틀 없애기*/
@media screen and (max-width: 900px) {
	.header__center {
		display: none;
	}
	.navbarimage{
	display:none;
}
	.header__search {
		display: block;
	}
	.header__title {
		position: absolute;
		width: 100%;
		text-align: center;
	}
	#iconemenu+label {
		display: block;
		position: absolute;
		width: 30px;
		height: 40px;
		left: 0px;
		font-size: 24px;
		z-index: 1;
		color: black;
		cursor: pointer;
	}
	#iconemenu+label:checked+label i {
		display: block;
		position: absolute;
		font-size: 24px;
		color: black;
	}
	#iconsearch {
		display: block;
		position: absolute;
		font-size: 15px;
		color: black;
	}
	#primary_nav_wrap {
		display: none;
		display: none;
	}
	
	
}