@charset "UTF-8";


.header {
	/*헤더 고정*/
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: auto;
	margin-bottom: 30px;
	width: 100%;
	background-color:#55A44E;
	z-index: 3;
}

.header__wrapper {
	/*고정된 높이*/
	
	/*좌우정렬 flex*/
	display: flex;
	flex-direction: row;
	/*세로축 모든 아이템 센터 정렬*/
	align-items: center;
	/*가로축 아이템 정렬: 양 끝으로 펼치기*/
	justify-content: space-between;
	padding: 0px 16px;
	background-color:#55A44E;
	height: 90%;
	
}

.header__start {
	height: 100%;
	margin-left: 10px;
	align-items: center;
}

.header__menu {
	border: none;
	background-color: transparent;
	font-size: 1.5rem;
}

.header__logo {
	margin-left: 20px;
	width: 25px;
	height: 25px;
}

.header__title {
	font-size: 3rem;
	margin-left: 6px;
	margin-right: 15px;
}

.header__center {
	/*검색창 너비가 헤더 너비의 50%로 따라가도록 작성*/
	width: 50%;
}

.header__searchForm {
	max-width: 100%;
}

.header__input--text {
	/*버튼 크기 제외한 나머지 전체 너비 차지하도록*/
	width: calc(90% - 60px);
	/*예쁘게 꾸미기*/
	height: 40px;
	padding: 0 6px;
	border: 1px solid #8f8f8f;
	border-radius: 2px 0 0 2px;
}

.header__input--btn {
	width: 60px;
	height: 40px;
	border: 1px solid #8f8f8f;
	border-radius: 0 0px 0px 0;
}

.header__search {
	border: none;
	background-color: transparent;
	font-size: 1.5rem;
	display: none;
	margin-right: 5px;
}

.header__profile {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: rgb(158, 221, 255);
	/* 이미지 불러오기 */
		
	background-size: 40px 40px;
}





#iconemenu {
	display: none;
	
	position: absolute;
}
.navbarimage{
	width: 200px;
	height: 90px;
	
	
}

#iconemenu+label {
	display: none;
	position: absolute;
	font-size: 24px;
	color: black;
	margin-left:20px;
}

#iconsearch {
	display: none;	
	position: absolute;
	right: 10px;
	font-size: 15px;
	color: black;
}

.btn:active, .btn:focus { border: none !important; box-shadow: none !important; }


.closedsidebar {
	width: 250px;
	height: 100%;
	background: white;
	position: fixed;
	top: 0px;
	left: -300px;
	border: 0.3px solid gray;
	transition: all .35s;
}

#iconemenu:checked+label+.closedsidebar {
   left: 0px;
}



.menu__item {
	margin: 40px 0px 0px 0px;
}

.ulstyle {
	list-style-type: "-";
}

.linkcolor {
	color: black;
	text-decoration: none;
}

.listyle {
	margin: 10px 5px;
}


.dropdown-menu {
  display: none; /* 초기에는 메뉴를 보이지 않게 설정 */
  
}
.dropdown-menu {
  display: none; /* 초기에는 메뉴를 보이지 않게 설정 */
  position: absolute; /* 메뉴의 위치를 절대 위치로 설정 */
  top: 80px; /* 메뉴의 위쪽 여백을 조절하는 속성 */
  right: 10px;
}

.show1{
  display: block; /* show 클래스가 추가되면 메뉴를 보이도록 설정 */
  width:100px;
}
.dropdown-toggle {
  background-color: transparent; /* 버튼의 배경색을 투명하게 설정 */
  border: none; /* 버튼의 주위 태두리를 없애는 속성 */
  outline: none; /* 포커스 효과를 없애는 속성 (선택 사항) */
   font-size: 50px;
   margin-right:40px;
   
}

.dropdown-toggle::after {
  display: none; /* 화살표를 없애는 속성 */
}






	
