<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PtBoardMapper">

	<resultMap type="com.example.demo.domain.PtBoard" id="boardResultMap">
		<id column="id" property="id" />
		<result column="title" property="title" />
		<result column="body" property="body" />
		<result column="inserted" property="inserted" />
		<result column="writer" property="writer" />
		<result column="region" property="region" />
		<result column="likeCount" property="likeCount"></result>
		<result column="commentCount" property="commentCount"></result>
		<collection property="fileName" ofType="string">
			<result column="fileName"/>
		</collection>
		<collection property="addressSggNm" ofType="String">

  		<result column="addressSggNm" property="addressSggNm"/>
  		</collection>
	</resultMap>
	
	<resultMap type="com.example.demo.domain.PtBoard" id="pagingMap">
		<id column="id" property="id"></id>
		<result column="title" property="title" />
		<result column="writer" property="writer" />
		<result column="inserted" property="inserted" />
		<result column="category" property="category" />
		<collection property="fileCount" ofType="Integer">
			<result column="fileCount" property="fileCount" />
		</collection>
		<collection property="commentCount" ofType="Integer">
			<result column="commentCount" property="commentCount" />
		</collection>
		<collection property="likeCount" ofType="Integer">
			<result column="likeCount" property="likeCount" />
		</collection>
		<collection property="addressSggNm" ofType="String">
  		<result column="addressSggNm" property="addressSggNm"/>

  		</collection>
	</resultMap>
</mapper>


